
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-image: linear-gradient(45deg, #7F40B0, #C8ACDD)
        }
        .box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.6);
            padding: 15px;
            border-radius: 15px;
            color: white;
            width: 30%;
        }
        fieldset{
            border: 3px solid #7F40B0;
            border-radius: 10px;
        }
        legend{
            border: 3px solid #7F40B0;
            padding: 8px;
            text-align: center;
            background-color: #7F40B0;
            border-radius: 10px;
        }
        .InputBox{
            position: relative;
            
        }
        .InputUser{
            background: none;
            border: none;
            border-bottom: 1px solid white;
            outline: none;
            color: white;
            font-size: 15px;
            width: 100%;
            letter-spacing: 1px;
        }
        .labelInput{
            position: absolute;
            top: 0px;
            left: 0px;
            pointer-events: none;
            transition: .5s;
        }
        .InputUser:focus ~ .labelInput, .InputUser:valid ~ .labelInput{
            top: -20px;
            font-size: 12px;
            color: #7F40B0;
        }
        #data_nascimento{
            border: none;
            padding: 8px;
            border-radius: 10px;
            outline: none;
            font-size: 15px;
            cursor: pointer;
        }
        #submit{
            background-image: linear-gradient(to right, #63179E, #7F40B0);
            border: none;
            outline: none;
            border-radius: 15px;
            width: 100%;
            padding: 15px;
            color: white;
            cursor: pointer;
        }
        #submit:hover{
            background-image: linear-gradient(to right, #57247D, #7236A1);
        }
