body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(45deg, #C8ACDD, #7F40B0);
    background-color: #C8ACDD;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    max-width: 400px; 
}
.tela-login {
    padding: 20px;
}