        body{
            font-family: Arial, Helvetica, sans-serif;
            background-image: linear-gradient(45deg, #C8ACDD, #7F40B0);
            background-color: #C8ACDD;
        }
        .tela-login{
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 80px;
            border-radius: 15px;
            color: white;
        }
        input{
            padding: 15px;
            border: none;
            outline: none;
            border-radius: 15px;
            font-size: 15px;
            width: 100%;
        }
        label{
            padding: 15px;
            border: none;
            outline: none;
            border-radius: 15px;
            font-size: 15px;
            width: 100%;
        }
        .enviar{
            background-color: #7F40B0;
            padding: 15px;
            border-radius: 10px;
            outline: none;
            width: 100%;
            color: white;
            font-size: 15px;
            border: none;
        }
        .submit{
            background-color: #7F40B0;
            padding: 15px;
            border-radius: 10px;
            outline: none;
            width: 100%;
            color: white;
            font-size: 15px;
            border: none;
        }
        button:hover{
            background-color: #AF8BCB;
            cursor: pointer;
        }
        .link{
            color: #C8ACDD;
        }